<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<h2><span class="font_test">ようこそ Bookers へ！</span></h2>
	<link rel="stylesheets" href="top.css">
</head>
<body>
  <h5 class=main>
  <span class="font_test">Bookers</span>では、さまざまな書籍に関するあなたの意見や
  <p>印象を共有し交換することができます</p>
  	<p><%= link_to "start", books_path %></p>
  </h5>
</body>

